* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0f;
}
#container {
    position: relative;
      max-width: 300px;
      width: 100%;
      border-radius: 12px;
      padding: 10px 20px 20px;
      background-color: rgb(37, 27, 27);
      box-shadow: 0 5px 10px rgb(0, 0, 0, 0.05);
  } 
  #display {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right end; 
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 45px;
    color: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: right; 
    align-items: center; 
  }
.calculator {
    width: 100%;
    background-color: rgb(124, 16, 16);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input {
    width:80%;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 18px;
    flex: auto;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c07575;
}

button:hover {
    background-color: #ddd;
}

button.Operator {
    background-color: #500a0a;
    color: white;
}

button.Operator:hover {
    background-color: #801a1a;
}

button.Equalbtn {
    width: 140px;
    background-color: #500a0a;
    color: white;
}

button.Equalbtn:hover {
    background-color: #140147;
}
.display-output {
    display: flex;
    align-items: center;
    justify-content: right; 
    background-color: #742f2f;
    width: 100%;
    height: 80px;
    text-align: right end; 
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 35px;
    outline: none;
    border: none;
    overflow: hidden;
  }